* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v25/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSoHTQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.w50 {
  width: 50%;
}
header {
  padding: 20px 0;
  background-color: #DCEEF8;
}
header .container {
  padding: 0 1%;
}
header .container .logo {
  color: #5E5FB1;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  float: left;
}
header .container .descktop {
  float: right;
}
header .container .descktop ul li {
  display: inline-block;
  padding: 0 20px;
}
header .container .descktop ul li:last-child {
  padding-right: 0;
}
header .container .descktop ul li a {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}
@media screen and (max-width: 760px) {
  header .container .descktop {
    display: none;
  }
}
.chamada-header {
  background-color: #DCEEF8;
}
.chamada-header .container {
  padding: 0 1%;
}
.chamada-header .container .container-flex {
  display: flex;
}
.chamada-header .container .container-flex .box-chamada1 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.chamada-header .container .container-flex .box-chamada1 h2 {
  color: #5E5FB1;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Dancing Script', cursive;
  margin-top: 80px;
}
.chamada-header .container .container-flex .box-chamada1 p {
  color: #5D5C5C;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding: 0 2%;
  z-index: 2;
}
.chamada-header .container .container-flex .box-chamada1 button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background: #A52525;
  border: 0;
  margin-top: 10px;
  cursor: pointer;
  z-index: 2;
}
.chamada-header .container .container-flex .box-chamada1 button a {
  color: #fff;
  display: block;
}
@media screen and (max-width: 760px) {
  .chamada-header .container .container-flex .box-chamada1 button {
    margin: 10px auto 0 auto;
  }
}
.chamada-header .container .container-flex .box-chamada1 img {
  width: 40%;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 760px) {
  .chamada-header .container .container-flex .box-chamada1 {
    width: 100%;
    text-align: center;
  }
}
.chamada-header .container .container-flex .box-chamada2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.chamada-header .container .container-flex .box-chamada2 img {
  width: 80%;
  object-fit: cover;
  margin-right: -20px;
  display: block;
}
@media screen and (max-width: 760px) {
  .chamada-header .container .container-flex .box-chamada2 {
    display: none;
  }
}
.chamada-header .container .chamada2 {
  position: relative;
  padding: 10px 0;
}
.chamada-header .container .chamada2 h3 {
  text-align: center;
  color: #000;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  padding: 10px 0;
}
.chamada-header .container .chamada2 i {
  font-size: 30px;
  color: #5E5FB1;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, 0);
}
.receita {
  background-color: #fff;
  padding: 20px 1%;
}
.receita .container {
  display: flex;
  flex-wrap: wrap;
}
.receita .container .box-receita1 img {
  max-width: 80%;
}
@media screen and (max-width: 760px) {
  .receita .container .box-receita1 img {
    width: 40%;
    margin: 0 auto;
    display: block;
  }
}
@media screen and (max-width: 760px) {
  .receita .container .box-receita1 {
    width: 100%;
  }
}
.receita .container .box-receita2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.receita .container .box-receita2 h3 {
  color: #000;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.receita .container .box-receita2 h2 {
  color: #5E5FB1;
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.receita .container .box-receita2 p {
  color: #4c4b4b;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0 1%;
  text-align: justify;
}
@media screen and (max-width: 760px) {
  .receita .container .box-receita2 p {
    padding: 0 2%;
  }
}
.receita .container .box-receita2 button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background: #A52525;
  border: 0;
  margin-top: 10px;
  cursor: pointer;
  z-index: 2;
}
.receita .container .box-receita2 button a {
  color: #fff;
  display: block;
}
@media screen and (max-width: 760px) {
  .receita .container .box-receita2 button {
    margin: 10px auto 0 auto;
  }
}
@media screen and (max-width: 760px) {
  .receita .container .box-receita2 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}
.mais-receitas {
  background-color: #5E5FB1;
  padding: 20px 0;
}
.mais-receitas .container h2 {
  color: #FFF;
  font-family: Roboto;
  font-size: 1.8em;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
.mais-receitas .container p {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  max-width: 300px;
  margin: 8px auto;
}
.mais-receitas .container .container-flex {
  display: flex;
  flex-wrap: wrap;
}
.mais-receitas .container .container-flex .box-mais-receita1 {
  width: 33.3%;
}
.mais-receitas .container .container-flex .box-mais-receita1 .box-img {
  width: 100%;
}
.mais-receitas .container .container-flex .box-mais-receita1 .box-img img {
  width: 80%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
@media screen and (max-width: 760px) {
  .mais-receitas .container .container-flex .box-mais-receita1 .box-img img {
    width: 40%;
    margin: 0 auto;
    display: block;
  }
}
.mais-receitas .container .container-flex .box-mais-receita1 h3 {
  color: #FFF;
  font-family: Roboto;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
.mais-receitas .container .container-flex .box-mais-receita1 p {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0 2%;
}
@media screen and (max-width: 760px) {
  .mais-receitas .container .container-flex .box-mais-receita1 {
    width: 100%;
  }
}
.mais-receitas .container .container-flex .box-mais-receita2 {
  width: 33.3%;
}
.mais-receitas .container .container-flex .box-mais-receita2 .box-img {
  width: 100%;
}
.mais-receitas .container .container-flex .box-mais-receita2 .box-img img {
  width: 80%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
@media screen and (max-width: 760px) {
  .mais-receitas .container .container-flex .box-mais-receita2 .box-img img {
    width: 40%;
    margin: 0 auto;
    display: block;
  }
}
.mais-receitas .container .container-flex .box-mais-receita2 h3 {
  color: #FFF;
  font-family: Roboto;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
.mais-receitas .container .container-flex .box-mais-receita2 p {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0 2%;
}
@media screen and (max-width: 760px) {
  .mais-receitas .container .container-flex .box-mais-receita2 {
    width: 100%;
  }
}
.mais-receitas .container .container-flex .box-mais-receita3 {
  width: 33.3%;
}
.mais-receitas .container .container-flex .box-mais-receita3 .box-img {
  width: 100%;
}
.mais-receitas .container .container-flex .box-mais-receita3 .box-img img {
  width: 80%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
@media screen and (max-width: 760px) {
  .mais-receitas .container .container-flex .box-mais-receita3 .box-img img {
    width: 40%;
    margin: 0 auto;
    display: block;
  }
}
.mais-receitas .container .container-flex .box-mais-receita3 h3 {
  color: #FFF;
  font-family: Roboto;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
.mais-receitas .container .container-flex .box-mais-receita3 p {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0 2%;
}
@media screen and (max-width: 760px) {
  .mais-receitas .container .container-flex .box-mais-receita3 {
    width: 100%;
  }
}
@media screen and (max-width: 760px) {
  .mais-receitas .container .container-flex {
    padding: 20px 0;
  }
}
.feedback {
  display: flex;
  background-color: #EFEFEF;
  padding: 20px 0;
  height: 480px;
}
.feedback .box-img {
  position: relative;
  width: 25%;
  height: auto;
}
.feedback .box-img img {
  position: absolute;
  left: -150px;
  top: 50%;
  transform: translate(0, -50%);
  width: 300px;
  height: 300px;
  object-fit: cover;
}
@media screen and (max-width: 760px) {
  .feedback .box-img {
    display: none;
  }
}
.feedback .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.feedback .container .box-feed1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 10px;
  margin: 0 auto;
}
.feedback .container .box-feed1 p {
  color: #000;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
}
.feedback .container .box-feed1 .feed-img {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.feedback .container .box-feed1 .feed-img .circ-img {
  width: 60px;
  height: 60px;
  background-image: url(../imagens/feedback.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.feedback .container .box-feed1 .feed-img .sobre-feed {
  padding: 5px;
}
.feedback .container .box-feed1 .feed-img .sobre-feed h3 {
  color: #000;
  font-family: Roboto;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
}
.feedback .container .box-feed1 .feed-img .sobre-feed p {
  color: #05814D;
  font-family: Roboto;
  font-size: 0.7em;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
}
@media screen and (max-width: 760px) {
  .feedback .container .box-feed1 {
    width: 100%;
  }
}
@media screen and (max-width: 607px) {
  .feedback .container {
    flex-direction: column;
  }
}
.feedback .box-feed2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feedback .box-feed2 p {
  color: #1E1E1E;
  text-align: center;
  font-family: Roboto;
  font-size: 1.4em;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
  cursor: pointer;
}
.feedback .box-feed2 i {
  font-size: 1.4em;
  text-align: center;
}
@media screen and (max-width: 760px) {
  .feedback .box-feed2 {
    width: 100%;
  }
}
.feedback .box-img2 {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.feedback .box-img2 img {
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 760px) {
  .feedback .box-img2 {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .feedback {
    width: 100%;
    height: auto;
  }
}
.receber {
  padding: 30px 0;
  background-color: #282ABC;
  height: 200px;
}
.receber .container {
  display: flex;
  flex-wrap: wrap;
}
.receber .container .box-receber1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
}
.receber .container .box-receber1 h2 {
  color: #FFF;
  font-family: Roboto;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 760px) {
  .receber .container .box-receber1 {
    width: 100%;
    height: auto;
  }
}
.receber .container .box-receber2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.receber .container .box-receber2 form {
  width: 80%;
  height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.receber .container .box-receber2 form input[type=email] {
  outline: none;
  border: 0;
  height: 100%;
  padding-left: 10px;
  border-radius: 10px;
}
.receber .container .box-receber2 form i {
  padding-right: 10px;
  cursor: pointer;
}
@media screen and (max-width: 760px) {
  .receber .container .box-receber2 {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 760px) {
  .receber .container {
    padding: 20px 0;
    gap: 20px;
  }
}
@media screen and (max-width: 760px) {
  .receber {
    width: 100%;
    height: auto;
  }
}
footer {
  background-color: #EFEFEF;
}
footer .container-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  align-items: center;
  margin: 0 100px 0 auto;
  padding: 20px 0;
}
footer .container-links nav li {
  padding: 5px 0;
}
footer .container-links nav li a {
  color: #000;
  font-size: 1em;
  font-family: Roboto;
}
@media screen and (max-width: 760px) {
  footer .container-links {
    width: 100%;
    margin: 0;
    padding: 20px 30px;
  }
}
footer .direitos {
  text-align: center;
  padding: 5px 0;
}
footer .direitos p {
  font-size: 1em;
  font-family: Roboto;
  color: #000;
}
